<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python</a></td> </tr>
      <tr> <td>14:15</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>Python (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Python (Continued)</a></td> </tr>
      <tr> <td>14:15</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>Python (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>

    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
       <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Python (Continued)</a></td> </tr>
      <tr> <td>14:15</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>Python (Continued)</td> </tr>
        
      <tr> <td>15:00</td>  <td>Wrap-up & <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
